{% extends 'base.html' %}

{% block title %} Home {% endblock title %}
{% block homeactive %}active{% endblock homeactive %}


{% block body %}
<div class="container">
    <div class="jumbotron my-3">
      <h1 class="display-4">Welcome to iProgramer!</h1>
      <!--<p class="lead">This is a simple coding blog.</p>-->
      <hr class="my-4">
      <a class="btn btn-primary btn-lg" href="/blog" role="button">Go to Blog</a>
      
      </div>
      
    </div>
    
    
   

    
             

 {% endblock %}